<!DOCTYPE html>
<html>
<head>
<script src="/bower_components/react/react.min.js"></script>
<script src="/bower_components/react/JSXTransformer.js"></script>
</head>
<body>

{{{body}}}

<script src="/components/packed.js"></script>
</body>
</html>